In [1]:
import numpy as np
import pandas as pd

# Mownit Lab 1 - Artmetyka komputerowa

### Część 1 i 2 - Sumowanie liczb pojedynczej precyzji i Algorytm Kahana


### Dane testowe

In [2]:
tablica = [0.1 for _ in range(10**7)]
tablica2 = [0.9 - x * 0.001 for x in range(0,100)]

### Wartości oczekiwane

In [3]:
result1 = 0.1 * (10**7)
result2 = ((2*0.9 - (99*0.001))/2)*100

### Algorytmy

In [4]:
def sum(tab):
    suma = 0
    for n in tab:
        suma += n
    print(suma)
    return suma

In [5]:
def rek_sum(tab):
    newtab = []
    i=0
    while i < len(tab):
        if i+1 == len(tab):
            newtab.append(tab[i])
            break
        newtab.append(tab[i]+tab[i+1])
        i += 2
    if len(tab) == 1:
        return tab[0]
    else:
        return rek_sum(newtab)

In [6]:
def algorytm_Kahana(tab):
    sum = 0.0
    err = 0.0
    for i in range(len(tab)):
        y = (tab[i] - err)
        temp = (sum + y)
        err = (temp - sum) - y
        sum = temp
    return sum

### Porównanie wyników

#### Tablica 1

In [7]:
%%time
wynik_sum_1 = sum(tablica)

999999.9998389754
CPU times: user 335 ms, sys: 5.41 ms, total: 340 ms
Wall time: 348 ms

In [8]:
print("Bład bezwgledny", result1 - wynik_sum_1)
print("Błąd względny", (result1 - wynik_sum_1)/result1)

Bład bezwgledny 0.0001610246254131198
Błąd względny 1.610246254131198e-10

In [9]:
%%time
wynik_rek_sum_1 = rek_sum(tablica)

CPU times: user 4.1 s, sys: 282 ms, total: 4.38 s
Wall time: 5.79 s

In [10]:
print("Bład bezwgledny", result1 - wynik_rek_sum_1)
print("Błąd względny", (result1 - wynik_rek_sum_1)/result1)

Bład bezwgledny 0.0
Błąd względny 0.0

In [11]:
%%time
wynik_kah_1 = algorytm_Kahana(tablica)

CPU times: user 907 ms, sys: 19.3 ms, total: 927 ms
Wall time: 1.06 s

In [12]:
print("Bład bezwgledny", result1 - wynik_kah_1)
print("Błąd względny", (result1 - wynik_kah_1)/result1)

Bład bezwgledny 0.0
Błąd względny 0.0

### Tablica 2

In [13]:
%%time
wynik_sum_2 = sum(tablica2)

85.05
CPU times: user 318 µs, sys: 601 µs, total: 919 µs
Wall time: 1.15 ms

In [14]:
print("Bład bezwgledny", result2 - wynik_sum_2)
print("Błąd względny", (result2 - wynik_sum_2)/result2)

Bład bezwgledny 0.0
Błąd względny 0.0

In [15]:
%%time
wynik_rek_2 = rek_sum(tablica2)

CPU times: user 36 µs, sys: 1e+03 ns, total: 37 µs
Wall time: 41.2 µs

In [16]:
print("Bład bezwgledny", result2 - wynik_rek_2)
print("Błąd względny", (result2 - wynik_rek_2)/result2)

Bład bezwgledny -1.4210854715202004e-14
Błąd względny -1.6708823886186954e-16

In [17]:
%%time
wynik_kah_2 = algorytm_Kahana(tablica2)

CPU times: user 14 µs, sys: 1e+03 ns, total: 15 µs
Wall time: 16.9 µs

In [18]:
print("Bład bezwgledny", result2 - wynik_kah_2)
print("Błąd względny", (result2 - wynik_kah_2)/result2)

Bład bezwgledny 0.0
Błąd względny 0.0

### Część 3 - Sumy czesiowe

In [19]:
def dzeta_Riemana_wprzód(s,n):
    sum = 0
    for k in range(1, n+1):
        sum += 1 / (k ** s)
    return sum

In [20]:
def dzeta_Riemana_wstecz(s,n):
    sum = 0
    for k in range(n + 1, 0, -1):
        sum += 1/(k**s)
    return sum

In [21]:
def eta_Dirichleta_wprzód(s,n):
    sum = 0
    for k in range(1, n+1):
        sum += ((-1) ** (k - 1)) * (1 / (k ** s))
    return sum

In [22]:
def eta_Dirichleta_wstecz(s,n):
    sum = 0
    for k in range(n,0,-1):
        sum += ((-1) ** (k - 1)) * (1 / (k ** s))
    return sum

#### Testy

In [23]:
s_list = [2, 3.6667, 5, 7.2, 10]
n_list = [50, 100, 200, 500, 1000]

In [30]:
data = pd.DataFrame({}, index = ["Dzeta Riemana wprzód", "Dzeta Riemana wstecz", "Eta Dirichleta wprzód", "Eta Dirichleta wstecz"])
for s in s_list:
    for n in n_list:
        new_data = []
        new_data.append(dzeta_Riemana_wprzód(s,n))
        new_data.append(dzeta_Riemana_wstecz(s,n))
        new_data.append(eta_Dirichleta_wprzód(s,n))
        new_data.append(eta_Dirichleta_wstecz(s,n))
        data[f"s={s}, n={n}"] = new_data

In [31]:
data

,"s=2, n=50","s=2, n=100","s=2, n=200","s=2, n=500","s=2, n=1000","s=3.6667, n=50","s=3.6667, n=100","s=3.6667, n=200","s=3.6667, n=500","s=3.6667, n=1000",...,"s=7.2, n=50","s=7.2, n=100","s=7.2, n=200","s=7.2, n=500","s=7.2, n=1000","s=10, n=50","s=10, n=100","s=10, n=200","s=10, n=500","s=10, n=1000"
Dzeta Riemana wprzód,1.625133,1.634984,1.639947,1.642936,1.643935,1.109400,1.109409,1.109410,1.109410,1.109411,...,1.007228,1.007228,1.007228,1.007228,1.007228,1.000995,1.000995,1.000995,1.000995,1.000995
Dzeta Riemana wstecz,1.625517,1.635082,1.639971,1.642940,1.643936,1.109400,1.109409,1.109410,1.109410,1.109411,...,1.007228,1.007228,1.007228,1.007228,1.007228,1.000995,1.000995,1.000995,1.000995,1.000995
Eta Dirichleta wprzód,0.822271,0.822418,0.822455,0.822465,0.822467,0.934693,0.934693,0.934693,0.934693,0.934693,...,0.993527,0.993527,0.993527,0.993527,0.993527,0.999040,0.999040,0.999040,0.999040,0.999040
Eta Dirichleta wstecz,0.822271,0.822418,0.822455,0.822465,0.822467,0.934693,0.934693,0.934693,0.934693,0.934693,...,0.993527,0.993527,0.993527,0.993527,0.993527,0.999040,0.999040,0.999040,0.999040,0.999040

In [33]:
s_list_float128 = np.float128(s_list)

In [34]:
data = pd.DataFrame({}, index = ["Dzeta Riemana wprzód", "Dzeta Riemana wstecz", "Eta Dirichleta wprzód", "Eta Dirichleta wstecz"])
for s in s_list_float128:
    for n in n_list:
        new_data = []
        new_data.append(dzeta_Riemana_wprzód(s,n))
        new_data.append(dzeta_Riemana_wstecz(s,n))
        new_data.append(eta_Dirichleta_wprzód(s,n))
        new_data.append(eta_Dirichleta_wstecz(s,n))
        data[f"s={s}, n={n}"] = new_data

In [35]:
data

,"s=2.0, n=50","s=2.0, n=100","s=2.0, n=200","s=2.0, n=500","s=2.0, n=1000","s=3.6667, n=50","s=3.6667, n=100","s=3.6667, n=200","s=3.6667, n=500","s=3.6667, n=1000",...,"s=7.2, n=50","s=7.2, n=100","s=7.2, n=200","s=7.2, n=500","s=7.2, n=1000","s=10.0, n=50","s=10.0, n=100","s=10.0, n=200","s=10.0, n=500","s=10.0, n=1000"
Dzeta Riemana wprzód,1.625133,1.634984,1.639947,1.642936,1.643935,1.109400,1.109409,1.109410,1.109410,1.109411,...,1.007228,1.007228,1.007228,1.007228,1.007228,1.000995,1.000995,1.000995,1.000995,1.000995
Dzeta Riemana wstecz,1.625517,1.635082,1.639971,1.642940,1.643936,1.109400,1.109409,1.109410,1.109410,1.109411,...,1.007228,1.007228,1.007228,1.007228,1.007228,1.000995,1.000995,1.000995,1.000995,1.000995
Eta Dirichleta wprzód,0.822271,0.822418,0.822455,0.822465,0.822467,0.934693,0.934693,0.934693,0.934693,0.934693,...,0.993527,0.993527,0.993527,0.993527,0.993527,0.999040,0.999040,0.999040,0.999040,0.999040
Eta Dirichleta wstecz,0.822271,0.822418,0.822455,0.822465,0.822467,0.934693,0.934693,0.934693,0.934693,0.934693,...,0.993527,0.993527,0.993527,0.993527,0.993527,0.999040,0.999040,0.999040,0.999040,0.999040

### Część 4 - Błędy zaokrągleń i odwzorowanie logistyczne

In [36]:
def func(x, r, i=10000):
    tab = [x]
    for j in range(i):
        x = r*x*(1-x)
        tab.append(x)
    return tab

In [ ]:
def make_chart():